# TODO
numpy
opencv-python
matplotlib

# Detection, projection, and tracking - work in progress
certifi==2021.5.30
cycler==0.11.0
filterpy==1.4.5
flatbuffers==2.0
kiwisolver==1.3.2
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random
mkl-service==2.4.0
motpy==0.0.10
numpy==1.21.2
olefile
onnx==1.10.1
onnxruntime==1.9.0
opencv-python==4.5.3.56
Pillow
protobuf==3.18.1
pyparsing==3.0.4
python-dateutil==2.8.2
scipy
six
typing-extensions==3.10.0.2
wincertstore==0.2